* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: gray;
}

.first_view {}

header {
    display: flex;
    justify-content: center
}

img.huellas_logo {
    width: 70%;
}

input.form-control {
    background-color: rgba(69, 63, 63, 0.14);
    border-radius: 10px;
    width: 100%;
    border: none;
    margin-top: 2%;
}

.mail {
    background-color: rgba(69, 63, 63, 0.14);
    border-radius: 10px;
}

h5 {
    font-size: 13px;
    color: #453f3f;
    display: flex;
    justify-content: left;
    align-items: center;
}

.login_google,
.login_facebook {
    width: 17.625rem;
    height: 2.0625rem;
    color: white;
    border-radius: 10px;
    border-color: none;
    font-size: 13px;
    margin-top: 2%;
    border: none;
}

.login_google {
    background: #DC4E41;
}

.login_facebook {
    background: #3F65A6;
}

.login,
.send {
    background: #4ABDAC;
    border-radius: 20px;
    border: none;
    color: white;
    margin-top: 6%;
    font-size: 13px;
    width: 30%;
    height: 2.5rem;
}

h6 {
    font-size: 11px;
    padding-top: 0.5%;
}

.register {
    border: none;
    font-style: initial;
    font-weight: bold;
}

.container-pass {
    width: 100%;
}

p {
    font-size: 12px;
    width: 90%;
    text-align: left;
}