#sidebar a {
    color: white;
    text-decoration: none;
    width: 50px;
    transition: all 0.4s ease;
    display: flex;
}

.sidebar {
    display: flex;
    background-color: black;
    width: 150%;
}